[user]
    name = {{ .user_name | quote }}
    email = {{ .user_email | quote }}
    signingkey = {{ .ssh_pub_key | quote }}

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers

[commit]
    gpgsign = true

[tag]
    gpgsign = true
