{{- $ssh_pub_key := .ssh_pub_key -}}
{{- if hasPrefix "~/" $ssh_pub_key -}}
{{- $ssh_pub_key = joinPath .chezmoi.homeDir (trimPrefix "~/" $ssh_pub_key) -}}
{{- end -}}
{{ .user_email }} {{ output "cat" $ssh_pub_key | trim }}
